


header{
    width: 100%;
    clear: left;
    color: #000000;
    background-color: #99AABB;
}

ul{
    align-content: center;
}

li{
    float:left;
    padding: 5px 5px;
    font-size: 1,5em;
}

body{
    clear:left;
    background-color: #99AABB;
}

header + aside{
    clear: left;
    width: 20%;
}

main{
    float: left;
    width: 60%;
    align-content: center;
}

aside{
    float:left;
    width:20%;
    background-color: rgb(151, 137, 160);
    padding: 10px 10px 10px;
}

section{
    float:left;
    background-color:#14171b;
    width: 33%;
}
    section:nth-child(2n+1){
        clear:left
    }


h1{
    font-size: 4em;
    color: #100d20;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

    
h2{
    font-size: 2.5em;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center

}

h3{
    font-size: 1,5em;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center

}

p{
    font-size: 1,5em;
    color: #dbdbdb;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    width: 100%;
}

footer{
    width: 100%;
    clear: left;
}