
body {background-color: #1d1d1d}

p {font-size: 1,5em;
color: #585858;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {background-color: #1f001b;
width: 70%;
}

article {background-color: #630000;
width: 80%;
}

img {height: 200px;
width: 50%;
border-width: 5px;
border-style: solid;
border-color: #ffffff;
border-radius: 5px;
}