/*Phone*/


header{
    width: 100%;
    clear: left;
    background-color: green;
    margin-bottom:2em;
 }
 
 nav :hover{
    height:fit-content;
 }

 ul{
    text-align: center;
    background-color: rgb(27, 23, 29);
    color:#99AABB;
    position:fixed;
    padding:0;
    margin-top:2em;
    width:10%;
    overflow: hidden;
    height: 2.5em;
    border-radius: 5px;
 }
 
 ul :first-child{
 
    background-color: black;
    border-radius: 5px;
 }
 
 li{
    padding: 1%;
    font-size: 2em;
    height:1.1em;
 }
    li:hover{
        text-decoration: underline;
        cursor: pointer;
        height:1.1em;
    }
 
 
 body{
    clear:left;
    background-color: #99AABB;
    margin: 0;
    transition: all 2s;
 }
 
 aside{
    float:left;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 1em;
    background-color:rgb(27, 23, 29);
    color:#99AABB;
    overflow: auto;
    border-radius: 5px;
    height:23em;
 }
 
 main{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color:rgb(60, 66, 71);
    margin-bottom: 1em;
    border-radius: 5px;
 }
 
 section{
    float:left;
    background-color:#0d1013;
    width: 99%;
    margin: 0.5%;
    height: 23em;
    overflow:auto;
    border-radius: 5px;
    text-align: center;
 }
 
 img{
    margin:3%;
    width: 94%;
    border-radius: 5px; 
    max-height: 345px;
    max-width: 230px;
 }
    img:hover{
        opacity: 0.5;
        cursor: pointer;
    }
 
 
 
 h1{
    font-size: 5em;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
    margin:0;
 } 
 h2{
    font-size: 2em;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
 }
 h3{
    font-size: 1em;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: auto;
    margin-bottom: 2em;
 }
 
 
 
 p{
    font-size: 1em;
    color: #99aabb;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
 }
 
    article p{
        font-size: 13px;
    }
 
 footer{
    width: 100%;
    clear: left;
    background-color: black;
    color:white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
 }
 
 footer p{
    margin: auto;
 }


/*Tablet*/
@media screen and (min-width: 31em) {

header{
   background-color:yellow;
}

ul{
   width:25%;
}

main{
   width: 70%;
   margin-left: 25%%;
   margin-right: 5%;
}

aside{
   width:70%;
   margin-left:25%;
   margin-right:5%;
}

section{
   width: 49%;
}
   section:nth-child(2n+1){
       clear:left;
   }

}



/*Desktop*/
@media screen and (min-width: 60em) {

   header{
      background-color: rebeccapurple;
   }

ul{
   width:20%;
}

aside{
   width:20%;
   margin-left:0%;
   margin-right:0%;
}

main{
   width: 55%;
   margin-left: 20%;
   margin-right: 0%;
}

section{
   width: 24%;
   margin: 0.5%;
}
   section:nth-child(4n+1){
       clear:left;
   }

   section:nth-child(2n+1){
      clear: none;
   }

}